html,
body,
#app,
#root,
.switch-wrapper,
#app > div {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #0D1B2A;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  background-color: white;
  max-width: 460px;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 500px) and (max-width: 1600px) {
  body {
    background-color: #f8f8f8;
  }

  .container {
    margin: 0 auto;
  }
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
